<!DOCTYPE html>
<html>
  <head>
    <title>Docsumo Careers</title>
    {% include 'bootstrap.html' %}
    {% include 'banner.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Docsumo Careers
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
        Docsumo is document AI software with Intelligent OCR technology helps you convert unstructured documents such as pay stubs, invoices and bank statements to actionable data. Works with documents in any format with minimal setup.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpg" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
